<!-- app.component.html -->

<div class="md:flex container mx-auto mt-10">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0">
   
      <li>
        <a routerLink="books" routerLinkActive="bg-blue-700 text-white" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:bg-blue-700 hover:text-white">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="uploadbooks"  routerLinkActive="bg-blue-700 text-white" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:bg-blue-700 hover:text-white">
          Upload Books
        </a>
      </li>
      <li>
        <a routerLink="authorsetting"  routerLinkActive="bg-blue-700 text-white" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:bg-blue-700 hover:text-white">
          Settings
        </a>
      </li>
      <li>
        <a routerLink="authorcontact"  routerLinkActive="bg-blue-700 text-white" class="inline-flex items-center px-4 py-3 rounded-lg w-full hover:bg-blue-700 hover:text-white">
          Contact
        </a>
      </li>
      
    </ul>
    <div class="p-6 bg-gray-50 text-medium text-gray-500 dark:text-gray-400 dark:bg-gray-800 rounded-lg w-full">
      <router-outlet></router-outlet>
    </div>
  </div>
  