<div class="container mx-auto flex flex-col justify-center items-center" style="height: 95vh; margin-top: -100px;">

    <div class="p-2 border-b md:w-2/4 w-5/6 bg-red-500 text-white rounded-t-lg flex  justify-start items-center">
     <div>   <a>
            <img
                
          class="w-14 h-14  rounded-full mr-4"
        
              [src]="'data:image/png;base64,' + community.book.bookImage.image"
              alt=""
            />
          </a> 
        </div>
        <div>
          <p class="text-lg font-semibold">{{community.title}}</p>
        <p  class=" ">Created By : {{community.creator.firstName}}
            
        </p>
    </div>
        <button id="close-chat" class="text-gray-300 hover:text-gray-400 focus:outline-none focus:text-gray-400">
        </button>
        <div *ngIf="typing.length>0" class="text-gray-300">Typing</div>
        <div *ngIf="isTyping" class="text-gray-300">Typing... </div>

    </div>

    

<div class="flex flex-col  md:w-2/4 w-5/6 h-2/3  overflow-y-auto">
    <div  class="flex-grow overflow-y-auto">
        <!-- Chat messages -->
        <div class="flex flex-col mb-2 gap-4 py-4" *ngFor="let data of community.discussions">
            <div *ngIf="data.side == 'left'  && data.status != 'created'" class="flex justify-start">
                <div 
                mat-raised-button
                matTooltip="{{formatDate(data.createAt)}}"
                matTooltipPosition="above"
                class="bg-gray-200 rounded-lg px-4 py-2 max-w-[80%]">
                <p class="text-black font-bold text-lg ">{{data.creator.firstName}}</p>
                
                <p class="text-gray-900 text-sm">{{data.message}}</p>
                </div>
            </div>
            <div
            mat-raised-button
            matTooltip="{{formatDate(data.createAt)}}"
            matTooltipPosition="above"
             *ngIf="data.status == 'created'" class="flex justify-center" >
                <div 
                mat-raised-button
                matTooltip="{{formatDate(data.createAt)}}"
                matTooltipPosition="above"
                 style="padding-bottom: -40px !important;" class="bg-gray-800 rounded-lg px-2 pt-2 max-w-[50%]">
                    <p class="text-white text-sm">{{data.message}}</p>
                </div>
            </div>
            <div    mat-raised-button
            matTooltip="{{formatDate(data.createAt)}}"
            matTooltipPosition="above"
            *ngIf="data.status == 'joined'" class="flex justify-center" >
                <div style="padding-bottom: -40px !important;" class="bg-gray-800 rounded-lg px-2 pt-2 max-w-[50%]">
                
                    <p class="text-white text-sm">{{data.message}}</p>
                </div>
            </div>
           
            <div    mat-raised-button 
            matTooltip="{{formatDate(data.createAt)}}"
            matTooltipPosition="above"
            *ngIf="data.side == 'right' && data.status != 'created'" class="flex justify-end">
                <div class="bg-blue-300 rounded-lg px-4 py-2 max-w-[80%]">
                    
                <p class="text-black font-bold text-lg ">{{data.creator.firstName}}</p>
                
                    <p class="text-gray-900 text-sm">{{data.message}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="flex justify-center items-center h-16">
        <!-- Chat input -->
        <input (input)="onTyping()" [(ngModel)]="message" type="text" class="border border-gray-300 rounded-lg py-2 px-4 w-full ml-1 mb-1  mr-4" placeholder="Type a message...">
        <button (click)="sendMessage(community.id)" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4   mb-1 rounded">Send</button>
    </div>
</div>
</div>