<div
  class="container mx-auto min-h-screen flex flex-col md:flex-row items-center justify-center"
>
  <!-- Left Column -->
  <div class="w-full md:w-2/4 mb-4 md:mb-0 text-center">
    <h1 class="text-3xl font-bold mb-4 text-red-600">BookHubX Bookstore</h1>
    <p class="text-lg mb-4">For All Your Reading Needs</p>
    <p class="text-lg">Explore a vast collection of literary treasures,</p>
    <p>from timeless classics to the latest bestsellers.</p>
    <button
    routerLink="readerbooks"
      class="text-white w-28 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-5"
    >
      Read More
    </button>
  </div>

  <!-- Right Column -->
  <div class="w-full md:w-2/4 h-full">
    <img
      class="w-full h-full object-cover"
      src="assets/images/slider-img.png"
      alt="BookHubX Bookstore"
    />
  </div>
</div>

<!-- 

 -->

<div>
  <div>
    <section class="container mx-auto catagory_section layout_padding">
      <div class="catagory_container">
        <div class="heading_container heading_center mb-4">
          <h2 class="text-3xl font-bold text-center">Books Categories</h2>
        </div>
        <p class="text-center mb-4">
          There are many variations of passages of Books available.
        </p>
        <div class=" ">
          <div
            class="container mx-auto flex flex-wrap items-center justify-center"
          >
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat1.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat2.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat3.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat4.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat5.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
            <div class="mb-4 flex items-center justify-center">
              <div class="box w-1/3">
                <div class="img-box">
                  <img src="assets/images/cat6.png" alt="Textbooks" />
                </div>
                <div class="detail-box p-4">
                  <h5 class="text-lg font-bold">Textbooks</h5>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <div
    class="container mx-auto h-screen flex flex-col md:flex-row items-center mt-10"
  >
    <!-- Left Column -->

    <div class="w-full md:w-2/4">
      <img
        class="w-full"
        src="assets/images/about-img.png"
        alt="BookHubX Bookstore"
      />
    </div>
    <!-- Right Column -->

    <div id="aboutus" class="w-full md:w-2/4 mb-4 md:mb-0 text-center">
      <h1 class="text-3xl font-bold mb-4 text-blue-500">
        About Our Book Store
      </h1>
      <p class="text-lg w-full mb-4 px-20">
        Welcome to our beloved bookstore, a haven for book enthusiasts of all
        ages and tastes. Nestled in the heart of the community, our bookstore is
        more than just a collection of books; it is a vibrant hub where the
        magic of literature comes alive. As you step through our doors, you'll
        find yourself surrounded by the comforting scent of well-worn pages and
        the soft murmur of turning leaves.
      </p>
      <button
      routerLink="readerbooks"
        class="mb-10 text-white w-28 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 mt-5"
      >
        Read More
      </button>
    </div>
  </div>

</div>
