<div mat-dialog-content>
  <p>Community Name</p>
  <mat-form-field>
    <mat-label>Type Title Name</mat-label>
    <input matInput [(ngModel)]="data.title">
    
  </mat-form-field>
  
<label for="countries" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Select an option</label>
<select id="books" [(ngModel)]="data.bookId"   class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
    <option selected disabled>Choose a book</option>
    <option *ngFor="let book of books" [value]="book.id">{{ book.title }}</option>
  </select>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>

